{% raw %}
{% extends "layout.html" %}
{% block layout_content %}
    <div id="mapid"></div>
{% endblock %}
{% block js_custom %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
<script type="text/javascript">
    	var streets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
											maxZoom: 18,
											id: 'mapbox.streets',
											accessToken: "{{ LEEFLET_ACCESS_TOKEN }}"
				});
</script>

{% endblock %}
{% endraw %}